<mat-form-field [formGroup]="group" fxFlex="100" [class.required-field]="isRequired">
  <mat-select [placeholder]="field.label | translate" [formControlName]="field.name">
    <mat-option *ngFor="let item of field.options" [value]="item">
      {{item}}
    </mat-option>
  </mat-select>
  <ng-container *ngFor="let validation of field.validations;" ngProjectAs="mat-error">
    <mat-error *ngIf="group.get(field.name).hasError(validation.name)">
      {{ validation.message | translate }}
    </mat-error>
  </ng-container>
</mat-form-field>
