$sm-width: 600px;
$md-width: 960px;
$lg-width: 1280px;
$xl-width: 1920px;

/* RANGE */
@mixin xs {
  @media screen and (max-width: $sm-width - 1) {
    @content;
  }
}

@mixin sm {
  @media screen and (min-width: $sm-width) and (max-width: $md-width - 1) {
    @content;
  }
}

@mixin md {
  @media screen and (min-width: $md-width) and (max-width: $lg-width - 1) {
    @content;
  }
}

@mixin lg {
  @media screen and (min-width: $lg-width) and (max-width: $xl-width - 1) {
    @content;
  }
}

/* LESS THAN */
@mixin lt-sm {
  @media screen and (max-width: $sm-width - 1) {
    @content;
  }
}

@mixin lt-md {
  @media screen and (max-width: $md-width - 1) {
    @content;
  }
}

@mixin lt-lg {
  @media screen and (max-width: $lg-width - 1) {
    @content;
  }
}

@mixin lt-xl {
  @media screen and (max-width: $xl-width - 1) {
    @content;
  }
}

/* GREATER THAN */
@mixin gt-xs {
  @media screen and (min-width: $sm-width) {
    @content;
  }
}

@mixin gt-sm {
  @media screen and (min-width: $md-width) {
    @content;
  }
}

@mixin gt-md {
  @media screen and (min-width: $lg-width) {
    @content;
  }
}

@mixin gt-lg {
  @media screen and (min-width: $xl-width) {
    @content;
  }
}

