<div class="content">
  <mat-chip-list *ngIf="tags.length" #chipList multiple="true">
    <mat-chip *ngFor="let tag of tags"
      [value]="tag.name"
      [selected]="tag.selected"
      (selectionChange)=changeSelected(tag)
      (click)="tag.selected=!tag.selected">
      {{tag.name}}
    </mat-chip>
  </mat-chip-list>

  <ng-container *ngFor="let diagram of diagrams; let i = index; trackBy: trackById">
    <app-diagram-card
      [id]="diagram._id"
      [name]="diagram.name"
      [desc]="diagram.desc"
      [image]="'/assets/images/examples/' + diagram.type + '.png'"
      [tags]="diagram.tags" 
      [order]="i % 2 == 0 ? 'row' : 'row-reverse'"
      (tagSelected)="onTagSelected($event)"
    ></app-diagram-card>
    <app-space></app-space>
  </ng-container>
</div>
